<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.doushen.tb.mapper.MenuMapper">

    <select id="queryUserPerms" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT
            m.perms
        FROM
            tb_menu m
        JOIN
            tb_role_menu rm
        ON
            rm.menu_id = m.id
        JOIN
            tb_user_role ur
        ON
            ur.role_id = rm.role_id
        WHERE
            ur.user_id = #{userId}
    </select>

    <select id="queryMenuByUser" parameterType="java.lang.Integer" resultType="info.doushen.tb.entity.MenuEntity">
        SELECT DISTINCT
            m.id,
            m.menu_name,
            m.parent_id,
            m.url,
            m.perms,
            m.type,
            m.icon,
            m.sort
        FROM
            tb_menu m
        JOIN
            tb_role_menu rm
        ON
            m.id = rm.menu_id
        JOIN
            tb_user_role ur
        ON
            ur.role_id = rm.role_id
        WHERE
            ur.user_id = #{userId}
            AND m.type IN('0', '1')
        ORDER BY
            m.sort
    </select>

</mapper>