<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-lg fa-fw fa-home"></i> </span>
                <h2> DOUDOU TB </h2>
            </header>

            <div role="content">
                <div class="widget-body widget-hide-overflow no-padding">
                    <div id="chat-body" class="chat-body custom-scroll">
                        <ul>
                            <li class="message">硬盘</li>
                            <li class="message">音乐</li>
                            <li class="message">电影</li>
                            <li class="message">美剧</li>
                            <li class="message">纪录片</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
